---
import SectionHeader from "./SectionHeader.astro";
import Contact from "./Contact";
---
<section id="contact" class="section section--contact">
  <SectionHeader idx={7} file="./contact" sub="// 200 OK, response time ≤ 24h on weekdays" />
  <Contact client:visible />
</section>
